#Minecraft server properties
accepts-transfers={{ minecraft_server_accepts_transfers }}
allow-flight={{ minecraft_server_allow_flight }}
allow-nether={{ minecraft_server_allow_nether }}
broadcast-console-to-ops={{ minecraft_server_broadcast_console_to_ops }}
broadcast-rcon-to-ops={{ minecraft_server_broadcast_rcon_to_ops }}
bug-report-link={{ minecraft_server_bug_report_link }}
difficulty={{ minecraft_server_difficulty }}
enable-command-block={{ minecraft_server_enable_command_block }}
enable-jmx-monitoring={{ minecraft_server_enable_jmx_monitoring }}
enable-query={{ minecraft_server_enable_query }}
enable-rcon={{ minecraft_server_enable_rcon }}
enable-status={{ minecraft_server_enable_status }}
enforce-secure-profile={{ minecraft_server_enforce_secure_profile }}
enforce-whitelist={{ minecraft_server_enforce_whitelist }}
entity-broadcast-range-percentage={{ minecraft_server_entity_broadcast_range_percentage }}
force-gamemode={{ minecraft_server_force_gamemode }}
function-permission-level={{ minecraft_server_function_permission_level }}
gamemode={{ minecraft_server_gamemode }}
generate-structures={{ minecraft_server_generate_structures }}
generator-settings={{ minecraft_server_generator_settings }}
hardcore={{ minecraft_server_hardcore }}
hide-online-players={{ minecraft_server_hide_online_players }}
initial-disabled-packs={{ minecraft_server_initial_disabled_packs }}
initial-enabled-packs={{ minecraft_server_initial_enabled_packs }}
level-name={{ minecraft_server_level_name }}
level-seed={{ minecraft_server_level_seed }}
level-type={{ minecraft_server_level_type }}
log-ips={{ minecraft_server_log_ips }}
max-chained-neighbor-updates={{ minecraft_server_max_chained_neighbor_updates }}
max-players={{ minecraft_server_max_players }}
max-tick-time={{ minecraft_server_max_tick_time }}
max-world-size={{ minecraft_server_max_world_size }}
motd={{ minecraft_server_motd }}
network-compression-threshold={{ minecraft_server_network_compression_threshold }}
online-mode={{ minecraft_server_online_mode }}
op-permission-level={{ minecraft_server_op_permission_level }}
player-idle-timeout={{ minecraft_server_player_idle_timeout }}
prevent-proxy-connections={{ minecraft_server_prevent_proxy_connections }}
pvp={{ minecraft_server_pvp }}
query.port={{ minecraft_server_query_port }}
rate-limit={{ minecraft_server_rate_limit }}
rcon.password={{ minecraft_server_rcon_password }}
rcon.port={{ minecraft_server_rcon_port }}
region-file-compression={{ minecraft_server_region_file_compression }}
require-resource-pack={{ minecraft_server_require_resource_pack }}
resource-pack={{ minecraft_server_resource_pack }}
resource-pack-id={{ minecraft_server_resource_pack_id }}
resource-pack-prompt={{ minecraft_server_resource_pack_prompt }}
resource-pack-sha1={{ minecraft_server_resource_pack_sha1 }}
server-ip={{ minecraft_server_server_ip }}
server-port={{ minecraft_server_server_port }}
simulation-distance={{ minecraft_server_simulation_distance }}
spawn-animals={{ minecraft_server_spawn_animals }}
spawn-monsters={{ minecraft_server_spawn_monsters }}
spawn-npcs={{ minecraft_server_spawn_npcs }}
spawn-protection={{ minecraft_server_spawn_protection }}
sync-chunk-writes={{ minecraft_server_sync_chunk_writes }}
text-filtering-config={{ minecraft_server_text_filtering_config }}
use-native-transport={{ minecraft_server_use_native_transport }}
view-distance={{ minecraft_server_view_distance }}
white-list={{ minecraft_server_white_list }}
