- name: Install docker compose
  ansible.builtin.include_role:
    name: docker-compose-install

- name: Create Docker macvlan network
  community.docker.docker_network:
    name: "{{ docker_network_name }}"
    driver: "{{ docker_network_driver }}"
    driver_options:
      parent: "{{ docker_network_parent }}"
    ipam_config:
      - subnet: "{{ docker_network_subnet }}"
        gateway: "{{ docker_network_gateway }}"
        iprange: "{{ docker_network_iprange }}"
    state: present
